<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="enrollReview">
INSERT INTO REVIEW(
            REVIEW_NO,
            REVIEW_NAME,
            REVIEW_CONTENT,
            REVIEW_AUTHOR,
            REVIEW_INSERT
)
VALUES(
            SEQ_REVIEW.NEXTVAL,
            ?,
            ?,
            ?,
            DEFAULT
)
</entry>

<entry key="enrollFiles">
INSERT INTO FILES(
		FILES_NO,
		FILES_REVIEW_NO,
		FILES_ORIGIN_NAME,
		FILES_CHANGE_NAME,
		FILES_PATH,
		FILES_UPLOAD_DATE,
		FILES_STATUS
)
VALUES(
		SEQ_FILES.NEXTVAL,
		SEQ_REVIEW.CURRVAL,
		?,
		?,
		?,
		DEFAULT,
		DEFAULT
)
</entry>

<entry key="showReviewCountAll">
	SELECT COUNT(*)
	FROM REVIEW
	WHERE REVIEW_DELETE IS NULL
</entry>

<entry key="showReviewList">
        SELECT *
		  FROM (
		    SELECT ROWNUM RNUM, R.*
		      FROM (
				SELECT *
				FROM REVIEW
				JOIN MEMBER ON(REVIEW_AUTHOR = MEMBER_NO)
				WHERE REVIEW_DELETE IS NULL
				ORDER BY REVIEW_INSERT DESC
		      ) R
		  )
		 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="detailReview">
	SELECT *
	FROM REVIEW
	JOIN MEMBER ON (REVIEW_AUTHOR=MEMBER_NO)
	WHERE REVIEW_NO = ?
</entry>

<entry key="getFiles">
SELECT *
FROM FILES
JOIN REVIEW ON (REVIEW_NO = FILES_REVIEW_NO)
WHERE FILES_REVIEW_NO = ?
</entry>

<entry key="increaseView">
		UPDATE REVIEW
		   SET REVIEW_VIEW = REVIEW_VIEW + 1
		 WHERE REVIEW_NO = ?
</entry>

<entry key="deleteReview">
	UPDATE REVIEW
	SET REVIEW_DELETE = SYSDATE
	WHERE REVIEW_NO = ?
</entry>

<entry key="deleteFiles">
UPDATE FILES
SET FILES_STATUS = 0
WHERE FILES_REVIEW_NO
IN (SELECT REVIEW_NO
	  FROM REVIEW
	  WHERE REVIEW_NO = ?)

</entry>

<entry key="selectReviewList">
	SELECT *
	FROM REVIEW INNER JOIN MEMBER ON (REVIEW_AUTHOR=MEMBER_NO)
</entry>
<entry key="selectReviewSearch">
	SELECT * FROM REVIEW INNER JOIN MEMBER ON (REVIEW_AUTHOR=MEMBER_NO)
	WHERE REVIEW_NO= ?
</entry>

</properties>