<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertPayment">INSERT INTO PAYMENT VALUES(SEQ_PAYMENT.NEXTVAL, ?, NULL, NULL, SYSDATE, NULL, NULL, ?, ?, ?)</entry>
	<entry key="selectPaymentForTID">SELECT PAYMENT_TID FROM PAYMENT WHERE PAYMENT_RESERVATION_NO = ? AND PAYMENT_STATUS_CODE = ?</entry>
	<entry key="updatePaymentDone">UPDATE PAYMENT SET PAYMENT_AID = ?, PAYMENT_METHOD = ?, PAYMENT_APPROVED = ?, PAYMENT_STATUS_CODE = ? WHERE PAYMENT_TID = ? AND PAYMENT_RESERVATION_NO = ? AND PAYMENT_USER_NO = ?</entry>
	<entry key="cancelPayment">UPDATE PAYMENT SET PAYMENT_CANCEL = SYSDATE, PAYMENT_STATUS_CODE = 0 WHERE PAYMENT_TID = ? AND PAYMENT_STATUS_CODE = 1</entry>
	<entry key="getCurrentRNO">SELECT RESERVATION_NO FROM RESERVATION WHERE MEMBER_NO=? ORDER BY RESERVATION_NO DESC</entry>
	<entry key="cancelPaymentPrepare">SELECT PAYMENT_TID FROM RESERVATION R INNER JOIN PAYMENT P ON R.RESERVATION_NO = P.PAYMENT_RESERVATION_NO WHERE P.PAYMENT_RESERVATION_NO=?</entry>
</properties>