<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectBoardListAccent">SELECT * FROM BOARD WHERE BOARD_ACCENT=1 AND BOARD_DELETE IS NULL ORDER BY BOARD_NO DESC</entry>
	<entry key="selectListCount">SELECT COUNT(*) COUNT FROM BOARD WHERE BOARD_DELETE IS NULL</entry>
	<entry key="selectListCountSearchAll">SELECT COUNT(*) COUNT FROM BOARD WHERE BOARD_DELETE IS NULL AND (BOARD_NAME LIKE ? OR BOARD_CONTENT LIKE ?)</entry>
	<entry key="selectListCountSearchTitle">SELECT COUNT(*) COUNT FROM BOARD WHERE BOARD_DELETE IS NULL AND BOARD_NAME LIKE ?</entry>
	<entry key="selectListCountSearchContent">SELECT COUNT(*) COUNT FROM BOARD WHERE BOARD_DELETE IS NULL AND BOARD_CONTENT LIKE ?</entry>
	<entry key="selectList">SELECT * FROM(SELECT ROWNUM RNUM, A.* FROM (SELECT BOARD_NO, BOARD_NAME, BOARD_INSERT, BOARD_VIEW FROM BOARD WHERE BOARD_DELETE IS NULL ORDER BY BOARD_NO DESC) A) WHERE RNUM BETWEEN ? AND ?</entry>
	<entry key="increaseBoardView">UPDATE BOARD SET BOARD_VIEW = BOARD_VIEW + 1 WHERE BOARD_NO = ?</entry>
	<entry key="selectBoard">SELECT * FROM BOARD WHERE BOARD_NO=? AND BOARD_DELETE IS NULL</entry>
	<entry key="selectAttachment">SELECT * FROM ATTACHMENT WHERE ATTACHMENT_BOARD_NO = ? AND ATTACHMENT_STATUS = 'Y'</entry>
	<entry key="selectBoardAjaxAll">SELECT * FROM(SELECT ROWNUM RNUM, A.* FROM (SELECT BOARD_NO, BOARD_NAME, BOARD_CONTENT, BOARD_INSERT, BOARD_VIEW FROM BOARD WHERE BOARD_DELETE IS NULL AND (BOARD_NAME LIKE ? OR BOARD_CONTENT LIKE ?) ORDER BY BOARD_NO DESC) A) WHERE RNUM >= ? AND RNUM &lt;= ?</entry>
	<entry key="selectBoardAjaxTitle">SELECT * FROM(SELECT ROWNUM RNUM, A.* FROM (SELECT BOARD_NO, BOARD_NAME, BOARD_CONTENT, BOARD_INSERT, BOARD_VIEW FROM BOARD WHERE BOARD_DELETE IS NULL AND BOARD_NAME LIKE ? ORDER BY BOARD_NO DESC) A) WHERE RNUM >= ? AND RNUM &lt;= ?</entry>
	<entry key="selectBoardAjaxContent">SELECT * FROM(SELECT ROWNUM RNUM, A.* FROM (SELECT BOARD_NO, BOARD_NAME, BOARD_CONTENT, BOARD_INSERT, BOARD_VIEW FROM BOARD WHERE BOARD_DELETE IS NULL AND BOARD_CONTENT LIKE ? ORDER BY BOARD_NO DESC) A) WHERE RNUM >= ? AND RNUM &lt;= ?</entry>
	<entry key="insertBoard">INSERT INTO BOARD VALUES(SEQ_BOARD.NEXTVAL, ?, ?, ?, SYSDATE, NULL, NULL, 0, ?)</entry>
	<entry key="insertAttachment">INSERT INTO ATTACHMENT VALUES(SEQ_ATTACHMENT.NEXTVAL, SEQ_BOARD.CURRVAL, ?, ?, ?, SYSDATE, 'Y')</entry>
	<entry key="deleteBoard">UPDATE BOARD SET BOARD_DELETE=SYSDATE WHERE BOARD_NO=?</entry>
	<entry key="deleteAttachmentAll">UPDATE ATTACHMENT SET ATTACHMENT_STATUS='N' WHERE ATTACHMENT_BOARD_NO=?</entry>
	<entry key="updateBoard">UPDATE BOARD SET BOARD_NAME=?, BOARD_CONTENT=?, BOARD_ACCENT=?, BOARD_UPDATE=SYSDATE WHERE BOARD_NO=?</entry>
	<entry key="updateBoardRemoveAttachment">UPDATE ATTACHMENT SET ATTACHMENT_STATUS='N' WHERE ATTACHMENT_STATUS='Y' AND ATTACHMENT_BOARD_NO=?</entry>
	<entry key="updateBoardInsertAttachment">INSERT INTO ATTACHMENT VALUES(SEQ_ATTACHMENT.NEXTVAL, ?, ?, ?, ?, SYSDATE, 'Y')</entry>
</properties>