<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="getVisitorMonth">SELECT (SELECT COUNT(*) FROM PAYMENT WHERE PAYMENT_DATE BETWEEN TO_DATE(?, 'YYYY-MM-DD') AND TO_DATE(?, 'YYYY-MM-DD') AND PAYMENT_CANCEL IS NULL AND PAYMENT_STATUS_CODE = 1) AS COUNT_CONFIRM, (SELECT COUNT(*) FROM PAYMENT WHERE PAYMENT_DATE BETWEEN TO_DATE(?, 'YYYY-MM-DD') AND TO_DATE(?, 'YYYY-MM-DD') AND PAYMENT_CANCEL IS NOT NULL AND PAYMENT_STATUS_CODE = 1) AS COUNT_CANCEL FROM DUAL</entry>
	<entry key="getVisitorYear">SELECT (SELECT COUNT(*) FROM PAYMENT WHERE PAYMENT_DATE BETWEEN TO_DATE(?, 'YYYY-MM-DD') AND TO_DATE(?, 'YYYY-MM-DD') AND PAYMENT_CANCEL IS NULL AND PAYMENT_STATUS_CODE = 1) AS COUNT_CONFIRM, (SELECT COUNT(*) FROM PAYMENT WHERE PAYMENT_DATE BETWEEN TO_DATE(?, 'YYYY-MM-DD') AND TO_DATE(?, 'YYYY-MM-DD') AND PAYMENT_CANCEL IS NOT NULL AND PAYMENT_STATUS_CODE = 1) AS COUNT_CANCEL FROM DUAL</entry>
	<entry key="getIncome">SELECT (SUM(DECODE(ROOM_TYPE, 'A', 80000, 'B', 120000, 80000) * RESERVATION_STAY_DATE)) AS INCOME FROM RESERVATION LEFT JOIN PAYMENT ON (RESERVATION_NO=PAYMENT_RESERVATION_NO) LEFT JOIN ROOM ON (RESERVATION.ROOM_NO=ROOM.ROOM_NO) WHERE PAYMENT_STATUS_CODE = 1 AND PAYMENT_CANCEL IS NULL AND PAYMENT_DATE BETWEEN TO_DATE(?, 'YYYY-MM-DD') AND TO_DATE(?, 'YYYY-MM-DD')</entry>
</properties>