<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="getVisitorMonth">SELECT (SELECT COUNT(*) FROM PAYMENT WHERE PAYMENT_DATE BETWEEN TO_DATE(?, 'YYYY-MM-DD') AND TO_DATE(?, 'YYYY-MM-DD') AND PAYMENT_CANCEL IS NULL AND PAYMENT_STATUS_CODE = 1) AS COUNT_CONFIRM, (SELECT COUNT(*) FROM PAYMENT WHERE PAYMENT_DATE BETWEEN TO_DATE(?, 'YYYY-MM-DD') AND TO_DATE(?, 'YYYY-MM-DD') AND PAYMENT_CANCEL IS NOT NULL AND PAYMENT_STATUS_CODE = 1) AS COUNT_CANCEL FROM DUAL</entry>
	<entry key="getVisitorYear">SELECT (SELECT COUNT(*) FROM PAYMENT WHERE PAYMENT_DATE BETWEEN TO_DATE(?, 'YYYY-MM-DD') AND TO_DATE(?, 'YYYY-MM-DD') AND PAYMENT_CANCEL IS NULL AND PAYMENT_STATUS_CODE = 1) AS COUNT_CONFIRM, (SELECT COUNT(*) FROM PAYMENT WHERE PAYMENT_DATE BETWEEN TO_DATE(?, 'YYYY-MM-DD') AND TO_DATE(?, 'YYYY-MM-DD') AND PAYMENT_CANCEL IS NOT NULL AND PAYMENT_STATUS_CODE = 1) AS COUNT_CANCEL FROM DUAL</entry>
	<entry key="getIncome">SELECT (SUM(DECODE(ROOM_TYPE, 'A', 80000, 'B', 120000, 80000) * RESERVATION_STAY_DATE)) AS INCOME FROM RESERVATION LEFT JOIN PAYMENT ON (RESERVATION_NO=PAYMENT_RESERVATION_NO) LEFT JOIN ROOM ON (RESERVATION.ROOM_NO=ROOM.ROOM_NO) WHERE PAYMENT_STATUS_CODE = 1 AND PAYMENT_CANCEL IS NULL AND PAYMENT_DATE BETWEEN TO_DATE(?, 'YYYY-MM-DD') AND TO_DATE(?, 'YYYY-MM-DD')</entry>
	<entry key="getTypePercent">SELECT (SELECT COUNT(*) FROM ROOM WHERE ROOM_TYPE='A') AS A, (SELECT COUNT(*) FROM ROOM WHERE ROOM_TYPE='B') AS B FROM DUAL</entry>
	<entry key="getTypeWhole">SELECT COUNT(*) AS WHOLE FROM ROOM WHERE ROOM_USEABLE=1 AND ROOM_TYPE=?</entry>
	<entry key="getTypeReserve">SELECT COUNT(*) RESV FROM ROOM LEFT JOIN (SELECT RESERVATION.*, SYSDATE AS RESERVATION_BET FROM RESERVATION) R ON(R.ROOM_NO=ROOM.ROOM_NO) LEFT JOIN PAYMENT ON(R.RESERVATION_NO=PAYMENT_RESERVATION_NO) WHERE PAYMENT_STATUS_CODE = 1 AND PAYMENT_CANCEL IS NULL AND ROOM.ROOM_TYPE=? AND ROOM.ROOM_USEABLE=1 AND RESERVATION_START_DATE &lt;= SYSDATE AND RESERVATION_END_DATE &gt;= SYSDATE</entry>
</properties>